.cart{
    /* border: 1px solid seagreen; */
    padding: 0px 35px 10px 10px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    box-shadow: rgba(3, 101, 214, 0.198) 0px 0px 0px 3px;
}

.orderReviewBtn{
    border: none;
    background: #ff9900d0;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}